*{
    margin: 0;
                
    font-family:"Inter", sans-serif;
    padding:0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

body{
    background-color:rgb(217, 220, 214);
    background-size: cover;
    background-position: center;
    height: 100%;
    width:100%;
    font-family: sans-serif;
    background-image: url('ui-bg.jpg');
    background-size: cover;
  background-position:fixed;
  background-repeat: no-repeat;  
}
html,body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

/* The blurred fixed background overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('ui-bg.png') center/cover no-repeat;
  filter: blur(100px);
  z-index: -1; 
  transform: scale(1.1); /* prevents visible edges */
}

#nav-bar{
    position:fixed;
    height:50px;
    width:auto;
    top:10px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    opacity: 65%;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    gap:6px;
    align-self:center;
    justify-self:center;
}

@media (max-width: 600px) {
  #nav-bar {
    scale:80%;
  }
}
@media (max-width: 445px) {
  #nav-bar {
    scale:60%;
  }
}
@media (max-width: 335px) {
  #nav-bar {
    scale:50%;
  }
}
#nav-bar a{
        text-decoration: none;
        color:inherit;
        display: block;
    }
.nav-element{
    padding:10px 20px ;
    border-radius: 6px;
    transition: background 0.3s;
    text-align: center;  
    border-radius: 15px;
}
.nav-element:hover{
    background-color: rgb(203, 200, 200);
    border-radius: 15px;
}
#header{
    display: flex;
    justify-content: center;
}
.intro{
    height: 100vh;
    width:100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
#pix1{
    
    width:500px;
    height:250px;
    border-radius:20px;
    border:#4ddfea,solid,2px;
    margin-right:50px;
}
#p1{
    font-size: 70px;
    font-weight:900;
    padding :50px;
    margin-top:50px;
}





.me{
    opacity:0;
    transition: all 0.7s ease-out;    
}
.me-bg{
    margin-top:80px;
    margin-bottom:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:rgba(20, 24, 57, 0.6);
    align-self:center;
    justify-self:center;
    width:70vw;
    height:350px;
    gap:40px;
    border:#27324e,solid,1px;
    border-radius:25px;
    overflow:hidden;
}
.me-img-class{
    border-radius:50%;
    border:rgb(0, 242, 255),solid,1px;
    width:250px;
    display:block;
    box-shadow:
        0 0 15px 2px rgba(28, 59, 61, 0.8),
        0 0 30px 6px rgba(29, 59, 61, 0.8);
    transform:translate(-200px,50px);
}
#me-text-head{
  font-size:35px;
  margin-top:70px;
  font-weight:bold;
  text-align:center;
}
#me-text-foot{
    height:fit-content;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:light; 
}
.me-texts-class{
    transform:translate(200px,50px);
    color:rgb(211, 210, 210);
    width:500px ;
    font-size:17px;
    font-weight:300;
    margin-bottom:80px;
    text-transform:capitalize;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.text-ani{
    background: radial-gradient(
        circle,
        #8f63ed 20%,
        #21d7e7 30%,
        #43b0df 70%,
        #b133ff 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



.fadein{
    opacity:1;
}
#abt-set{
    justify-self:center;
    display:flex;
    gap:50px;
    flex-direction:row;
}
.abt-bg{
    margin-top:80px;
    background-color:rgba(0,0,0,0.3);
    width: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 1.2rem;
    opacity:0.1;
    transition: all 0.8s ease-out;
    border-radius:15px;
    padding:20px;
    height:fit-content;
}
.abt-txt {
    font-size:30px;
    font-weight:10px;
    width:auto;
}

.aboutl {
    transform: translateX(-200px);
}

.aboutr {
    transform: translateX(200px);
}


.abt{
    padding:5px;
    padding-left:18px;
    color: rgb(199, 197, 197);
    font-weight:3px;
}







.hire{
    justify-self:center;
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    gap:20px;
    width:80%;
    text-align:center;
    background:rgba(20, 24, 57, 0.6);
    padding:50px;
    border-radius:25px;
    border:#27324e,solid,2px;
    text-transform:capitalize;

    opacity:0.1;
    transition: all 0.4s ease-in;    

}
.hire-head{
    font-size:40px;
}
#hire-foot{
    color:white;
    font-size:18px;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}






.topics{
    font-size:30px;
    margin-top: 100px;
    text-align: center;
    font-weight: lighter;
    color:white;
}
.elements-set{
    justify-self:center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10%;
    margin-top: 50px;
    margin-right:10%;
    border-radius: 15px;
    padding:25px;
    gap:80px;
    flex-wrap: wrap;
    opacity:0.1;
    transition: all 1.5s ease-out;
    height:auto;
    max-width:700px;
}

.element{
    height:100px;
    width:250px;
    color:rgb(0, 0, 0);
    background-color: white;
    border:6px;
    border-radius:20px;
    border-color:gray;
    font-size:10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.element:hover{
    background-color:rgb(224, 222, 222);
}
#css {
    width: 75px;
    height: 75px;
    background-image: url('css.png');
    background-size: 117%;
    background-position: center;
    background-repeat: no-repeat;
  }
#Java {
    width: 75px;
    height: 75px;
    background-image: url('java.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#Py {
    width: 75px;
    height: 75px;
    background-image: url('python.png');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}
#html {
    width: 75px;
    height: 75px;
    background-image: url('html.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#c {
    width: 75px;
    height: 75px;
    background-image: url('C.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#mysql {
    width: 75px;
    height: 75px;
    background-image: url('mysql.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#nodejs {
    width: 75px;
    height: 75px;
    background-image: url('nodejs.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
#JS {
    width: 75px;
    height: 75px;
    background-image: url('JavaScript.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.element:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.9ms;
    scale:115%;
}
.note{
    text-align:center;
    font-size:small;
    color:gray;
}
.section-lines{
    height:5px;
    opacity:0;
}



.project-set{
    height:auto;
    margin-top: 20px;
    border-radius: 80px;
    margin-bottom:10px;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-blend-mode:difference;
    flex-direction:row ;
    gap:30px;
}
.project{
    margin-top: 60px;
    margin-bottom:60px;
    height:360px;
    width:100%;
    border-radius: 15px;
    background:rgba(20, 24, 57, 0.8);
    border:#27324e,solid,1.5px;
    overflow:hidden;
    display:flex;
    padding:20px;
    flex-direction:column;
    justify-content:start;

    opacity:0;
    transition: all 0.8s ease-in-out;    
}

.pro-img{
    width:100%;
    height:auto;
    border-radius: 10px;
}
.pro-name{
    margin-top:20px;
    font-size:25px;
}
.pro-text{
    margin-top:15px;
    font-size:15px;
    color:rgb(167, 167, 167);
}
#pro-btns{
    margin-top:30px;
    display:flex;
    gap:50px;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row;
}
.pro-btn{
    border-radius:15px;
    border:#4ddfea,solid,2px;
    color:white;
    width:90px;
    height:35px;
    display:flex;
    font-weight:lighter;
    text-decoration:none;
    justify-content:center;
    align-items:center;
}

.pro1{
    transform:translate(-50px,80px);
}
.pro2{
    transform:translate(0px,80px);
}
.pro3{
    transform:translate(50px,80px);

}





.section-lines{
    margin-top: 150px;
    height:2px;
}

.contact-set{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    gap:3px;
}
#contact-div{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
#cont-heading{
    font-size:40px;
    text-align: center;
    color:white;
    margin-top:50px;
    margin-bottom:50px;
    font-weight: lighter;
}

#contact{
    height: fit-content;
    width: fit-content;
    padding-left:80px;
    padding-right:80px;
    background-color: white;
    background:rgba(255, 255, 255, 0.2);
    margin:auto;
    margin-top: 50px;
    border-radius :25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

#email{
    color:white;
    background:rgba(187, 187, 187, 0.3);
    height: 50px;
    width: 500px;
    border:none;
    border-radius: 15px;
    padding: 10px;
    font-size:13px;
    font-family: Arial,sans-serif;
    font-weight:bold;
}
#email::placeholder,#message::placeholder{
    color:rgb(149, 149, 149);
}
#message{
    font-family: Arial,sans-serif;
    font-size:13px;
    font-weight:bold;
    background:rgba(187, 187, 187, 0.3);
    color:white;
    height: 150px;
    margin:20px;
    border:none;
    width: 500px;
    border-width: 2px;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

#send{
    height: 40px;
    width:500px;
    background-color: rgb(22, 66, 91);
    border-radius: 15px;
    color: white;
    margin-bottom:30px;
    border:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 15px;
    border:#21d7e7,solid,1px;
}



.foot{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.profiles{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 30px;
    width: 30px;
} 



.visible {
    opacity: 1;
    transform:translate(0,0);
}
.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #510693  51%, #1A2980  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         
         