*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color:rgb(217, 220, 214);
    background-size: cover;
    background-position: center;
    height: 100%;
    width:100%;
    font-family: sans-serif;
}

#nav-bar{
    position:fixed;
    height:50px;
    width:auto;
    top:10px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    opacity: 65%;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    gap:6px;
}

@media (max-width: 600px) {
  #nav-bar {
    scale:80%;
  }
}
@media (max-width: 445px) {
  #nav-bar {
    scale:60%;
  }
}
@media (max-width: 335px) {
  #nav-bar {
    scale:50%;
  }
}
#nav-bar a{
        text-decoration: none;
        color:inherit;
        display: block;
    }
.nav-element{
    padding:10px 20px ;
    border-radius: 6px;
    transition: background 0.3s;
    text-align: center;  
    border-radius: 15px;
}
.nav-element:hover{
    background-color: rgb(203, 200, 200);
    border-radius: 15px;
}
#header{
    display: flex;
    justify-content: center;
}
.intro{
    height: 100vh;
    width:100%;
    color:white;
    background-color: rgb(22, 66, 91);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 50px;
}
.topics{
    font-size:30px;
    margin-top: 100px;
    text-align: center;
    font-weight: lighter;
    color:black;
}
.elements-set{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:10%;
    margin-top: 50px;
    margin-right:10%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding:16px;
    gap:16px;
    flex-wrap: wrap;
    height:auto;
}

.element{
    height:1000px;
    width:100px;
    color:rgb(0, 0, 0);
    background-color: transparent;
    border:6px;
    border-radius:50%;
    border-color:gray;
    font-size:10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#css {
    width: 75px;
    height: 75px;
    background-image: url('css.png');
    background-size: 117%;
    background-position: center;
    background-repeat: no-repeat;
  }
#Java {
    width: 75px;
    height: 75px;
    background-image: url('java.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#Py {
    width: 75px;
    height: 75px;
    background-image: url('python.png');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}
#html {
    width: 75px;
    height: 75px;
    background-image: url('html.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#c {
    width: 75px;
    height: 75px;
    background-image: url('c++.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#JS {
    width: 75px;
    height: 75px;
    background-image: url('JavaScript.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.element:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.9ms;
    scale:115%;
}
.section-lines{
    margin-top: 150px;
    height:2px
}
.project-set{
    height:auto;
    margin-top: 50px;
    border-radius: 80px;
    margin-bottom:10px;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-direction:column ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    gap:60px;
}
.project{
    margin-top: 60px;
    margin-bottom:60px;
    height:200px;
    width:65%;
    border-radius: 10px;
    background-color: rgb(197, 197, 197);
}
#p1{
    margin-top: 120px;
}
#p2{

}
#p3{

}
#p4{

}
#p5{

}
#p6{
    margin-bottom: 120px;
}

.section-lines{
    margin-top: 150px;
    height:2px;
}

.contact-set{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:3px;
}
#cont-heading{
    font-size:30px;
    text-align: center;
    color:black;
    margin-top:50px;
    margin-bottom:50px;
    font-weight: lighter;
}

#contact{
    height: fit-content;
    width: 60%;
    background-color: white;
    margin:auto;
    margin-top: 50px;
    border-radius :25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

#email{
    height: 30px;
    margin-left:5%;
    width: 40%;
    border-radius: 20px;
    padding: 10px;
}
#text{
    font-family: Arial,sans-serif;
    height: 150px;
    margin:5%;
    width: 80%;
    border-width: 2px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

#send{
    height: 40px;
    margin-left:5%;
    width:100px;
    background-color: rgb(22, 66, 91);
    border-radius: 20px;
    color: white;
    margin-bottom:30px;
    border:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 15px;
}
#send:hover{
    scale:105%;
    background-color: rgb(32, 81, 109);
    cursor: pointer;
}